@font-face {
    font-family: Primary;
    src: url(../fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: Secondary;
    src: url(../fonts/Ubuntu-Bold.ttf);
    font-weight: bold;
}

#navbar {
    font-family: Secondary;
}

#footer {
    font-family: Secondary;
}

#welcome {
    font-family: Primary;
}