@font-face {
  font-family: Primary;
  src: url(../fonts/Ubuntu-Regular.ttf);
}

ul li {
  list-style: none;
  font-family: Primary;
  padding: 10px;
  user-select: none;
  cursor: pointer;
  position: relative;
  padding-left: 40px;
}

ul li::before {
  content: " ";
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: url("../assets/unchecked.png");
  background-size: contain;
  left: 10px;
  top: 12px;
  /* filter: invert(1); */
}

ul li.checked {
  text-decoration: line-through;
}

ul li.checked::before {
  background: url("../assets/check.png");
  background-size: contain;
}
